/* Definición de colores en variables */
:root {
  --color-fondo-header: #333;
  --color-texto-header: #fff;
 /*  --color-fondo-nav: #777; */
  --color-fondo-nav: #4470f6;
  --color-texto-nav: #000;
  --color-fondo-seccion: #f0f0f0;
  --color-texto-seccion: #555;
  --color-fondo-articulo: #fff;
  --color-texto-articulo: #666;
  --color-fondo-footer: #444;
  --color-texto-footer: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
/* Form */
.login form {
  margin: 3rem 0 1rem;
}
input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 1rem 0;
  width: 100%;
}
  
input[type="submit"] {
  padding: 10px;
  border-radius: 2rem;
  height: 3rem;
  color: #fff;
  background: #4470f6;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  margin-top: 1rem;
}
input[type="submit"]:hover {
  background-color: #8aa5fa;
}


/* Estilos generales del contenedor principal */
.app-container {
  align-items: center;
  background-color: #8aa5fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* Estilos de login */
.login {
  align-items: center;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  min-width: 70%;
  padding: 2.5rem;
}
.login h1 {
  font-size: 1.8rem;
  margin-top: 0.5rem
}
.login .register {
  color: #818181;
}
.login .register a {
  color: #4470f6;
}

/* Estilos para el encabezado */
header img {
  /* float: left; */ /* Alinea la imagen a la izquierda */
  margin-right: 10px; /* Agrega un espacio a la derecha de la imagen */
  width: 50px; /* Establece el ancho deseado de la imagen (ajusta este valor según tu preferencia) */
  /* height: 100%; */ /* Mantiene la relación de aspecto original */
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

/* Estilos para la barra de navegación */
nav {
  background-color: var(--color-fondo-nav);
  color: var(--color-texto-nav);
  text-align: center;
  padding: 10px;
  display: flex;
    justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.nav-toggle {
  display: none;
}

/* Estilos para la lista de navegación */
#nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#nav-list li {
  display: inline;
  margin-right: 20px;
}

/* Estilos para el menú desplegable en dispositivos móviles */
#nav-list.active {
  display: block;
}

/* Estilos para el botón de menú en dispositivos móviles */
#menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Estilos para el menú desplegable en dispositivos móviles */
#menu-toggle.active {
  display: block;
}
.mr-menu {
  margin-right: 4.5rem!important;
}
.welcome {
  color: #ffffff;
  font-size: 0.9rem;
}

/* Estilos para la sección y los artículos */
section {
  background-color: var(--color-fondo-seccion);
  padding: 20px;
}

article {
  background-color: var(--color-fondo-articulo);
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Estilos para las imágenes dentro de los artículos */
article img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Estilos para el pie de página */
footer {
  background-color: var(--color-fondo-footer);
  color: var(--color-texto-footer);
  text-align: center;
  padding: 10px;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.articulo {
  display: inline-block; /* Establece el diseño en línea para que estén uno al lado del otro */
  width: 48%; /* Establece el ancho deseado para cada artículo */
  margin-right: 2%; /* Agrega un pequeño margen entre los artículos (puedes ajustar esto) */
  vertical-align: top; /* Alinea los artículos en la parte superior para que coincidan en la parte superior */
  padding: 3rem 2rem;
  margin-bottom: 2rem;
}
.articulo:nth-child(2n) {
  margin-right: 0;
}
.articulo h2 {
  margin-top: 0;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Para hacerla circular */
  cursor: pointer;
}

/* Inicialmente, oculta el menú de perfil */
ul.profile-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 8px #c8c8c8;
  text-align: right;
  margin: 0;
  width: 10.5rem;
  text-align: center;
}
ul.profile-menu.show-menu {
  display: block;
  right: 0.1rem; /* Ajusta la posición para que esté alineado con la imagen */
  top: 4.2rem;
}
ul.profile-menu li {
  margin: 0;
  padding: 0;
  display: block;
}
ul.profile-menu li a {
  color: #818181;;
  text-decoration: none;
  padding: 0.7rem 1rem;
  display: block;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}


ul.profile-menu li a:hover {
  background-color: var(--color-fondo-nav);
  color: #ffffff;
}
/* Mostrar el menú cuando la clase show-menu está presente */
/* Estilos para la barra de navegación en dispositivos móviles */
@media (max-width: 768px) {
  #nav-list {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  #menu-toggle {
    display: block;
  }

  #menu-toggle.active {
    display: none;
  }

  #nav-list.active {
    display: block;
  }
}
/* Estilos para los artículos en dispositivos móviles */
@media (max-width: 768px) {
  .articulo {
    display: block;
    width: 100%; /* Opcional, ajusta el ancho según tus necesidades */
    margin-right: 0;
  }
  .login .img-login {
    display: none;
  }
}





